@font-face {
    font-family: 'Vulf';
    src: url('font/VulfSans-Regular.woff2') format('woff2'),
        url('font/VulfSans-Regular.woff') format('woff'),
        url('font/VulfSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Vulf';
    src: url('font/VulfSans-Bold.woff2') format('woff2'),
        url('font/VulfSans-Bold.woff') format('woff'),
        url('font/Vulf-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


/* General styling */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Vulf';
    line-height: 1.6;
    background-color: #F20089 !important;
    color: #000000 !important;
}

/* Reels container */
.reels-container {
    scroll-snap-type: y mandatory; /* Enable vertical snap scrolling */
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Each Reel */
.reel {
    scroll-snap-align: start; /* Snap each reel to the top of the viewport */
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reel-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* Overlay Title Styling */
.title-overlay {
    position: absolute;
    bottom: 100px;
    right: 80px;
    color: #ffffff;
    background: rgba(0, 0, 0, 1);
    padding: 7px 10px;
    font-size: 1.2rem;
    border-radius: 0px;
    font-weight: bold;
    background-color: #000000;
    border: 5px solid #000000;
}

/* Studio Logo Styling */
.studio-logo {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 40px; /* Adjust size as needed */
    padding: 2px;
    height: auto;
    z-index: 2; /* Ensure it is above the video */
    background-color: #000000;
    border: 5px solid #000000;
}